{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Intro -->
<section class="view">

    <div class="row">

        <div class="col-md-6">

            <div class="d-flex flex-column justify-content-center align-items-center h-100">
                <div class="col-md-6 col-xl-5 mb-4">
                <!--Form-->
                    <div class="card wow fadeInLeft" data-wow-delay="0.3s">
                        <div class="card-body">
                        <!--Header-->
                            <div class="text-center">
                                <h3 class="font-weight-bold">
                                    Get a Free Quote!
                                </h3>
                                <hr class="hr-light">
                            </div>
                            <form method='POST'>
                            FORM HERE
                            </form>
                    
                        </div>
                    </div>
                </div>
                <!--/.Form-->
            </div>

        </div>

        <div class="col-md-6">
            <div class="view">
                <img src="{% static 'img/wizard.png' %}" class="img-fluid wow fadeInRight" data-wow-delay="0.3s" alt="smaple image">
                <div class="mask flex-center hm-gradient">
                </div>
            </div>

        </div>
    </div>
    
</section>
  <!-- Intro -->


{% endblock %}